button {
    display: block;
    margin: 40px auto;
}

.error-message {
    color: var(--color-delete);
    margin-top: 1rem;
}

.avatar-grid {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 20px;
    margin-top: 20px;
}

.avatar {
    width: 100%;
    height: auto;
    border: 2px solid transparent;
    border-radius: var(--radius-soft);
    box-shadow: var(--box-shadow-glow);
    cursor: pointer;
    transition: border-color 0.3s ease;
}
.avatar:hover {
     box-shadow:
    var(--shadow-soft),
    var(--btn-focus-ring);
    transform: scale(1.05);
    border-color: transparent;
    
}

.avatar.selected {
    border-color: var(--color-primary);