@import url('https://fonts.googleapis.com/css2?family=Comic+Relief:wght@400;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Mulish:ital,wght@0,200..1000;1,200..1000&display=swap');

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

:root {
/*COLORS */

    /* Action colors - används endast på knappar och interaktiva element, tex som border på en klickbar bild eller länk.
     Observera att det finns färdiga knapp-klasser att referera till när man vill använda dessa färger på knapp (btn-primary och btn-secondary)*/
    --action-primary-color: #00B4D8;
    --action-secondary-color: #00829D;

    /* reward and delete colors. Reward används för positiva feedback, delete för radera funktioner (btn-delete finns) och vid varning */
    --color-reward: #15F1B5;
    --color-delete: #D8003B;

    /* Base colors */
    --text-color-btn: #FFFFFF;
    --background: #F7FBFC;
    --text-color-light: #8E9193;
    --text-color-dark: #1F2937;

    /* Subject colors */
    --subject-1: #9B4C9C;
    --subject-1-gradient: linear-gradient(180deg, #C85FD6 0%, #9B4C9C 55%, #7D3F7E 100%);
    --subject-2: #6DC8D7;
    --subject-2-gradient: linear-gradient(180deg, #89D9E5 0%, #6DC8D7 55%, #53B4C4 100%);
    --subject-3: #F05A28;
    --subject-3-gradient: linear-gradient(180deg, #FF8A5F 0%, #F05A28 55%, #D9481B 100%);
    --subject-4: #FFB600;
    --subject-4-gradient: linear-gradient(180deg, #FFD45A 0%,#FFB600 55%, #E5A300 100%);

    /* Navbar colors - används i navbaren, både bakgrund och text */
    --navbar-bg: var(--text-color-btn);
    --navbar-text: var(--action-primary-color);

/* FONTS */

    /* Regler: font-base används på grundläggande text, font-display används på visuella element/tex. huvudrubriker*/
    --font-base: 'Mulish', sans-serif;
    --font-display: 'Comic Relief', cursive;
    
    /* SHADOWS */
    --box-shadow-glow: inset 0 6px 0 rgba(255,255,255,0.18), inset 0 -6px 0 rgba(0,0,0,0.08), 0 6px 12px rgba(0,0,0,0.18);

    --btn-shadow-light: 0 4px 0 rgba(255,255,255,0.18), 0 -4px 0 rgba(0,0,0,0.08), 0 4px 8px rgba(0,0,0,0.18);
    --btn-shadow-dark: 0 4px 0 rgba(255,255,255,0.08), 0 -4px 0 rgba(0,0,0,0.18), 0 4px 8px rgba(0,0,0,0.36);
}

body {
    font-family: var(--font-base);
    background-color: var(--background);
    color: var(--text-color-dark);
}

/* BUTTONS */

.primary-button {
    padding: 0.9rem 1.8rem;
    border: none;
    border-radius: 12px;
    background-color: var(--action-primary-color);
    color: white;
    font-size: 1rem;
    font-weight: 600;
    cursor: pointer;
    transition: 0.2s ease;
   
}

.primary-button:hover {
    background-color: var(--action-secondary-color);
}

.primary-button:active {
    transform: translateY(0px);
}