.nav-logo img {
height: 4rem;
width: auto;
}
a {
/*   text-decoration: none;
*/  color: inherit;
font-weight: 600;
font-size: 22px;
}

header {
height: 80px;
background: white;
box-shadow: 0 4px 12px rgba(0, 0, 0, 0.08);
}

.nav-container {
display: flex;
align-items: center;
justify-content: center;
max-width: 1000px;
margin: 0 auto;   

} 

.nav-content {
display: flex;
flex-direction: row;
gap: 1.5rem;
align-items: center;
justify-content: center;
width: 100%;
}
.nav-logo {
cursor: pointer;
}
.nav-links {
display: flex;
position: absolute;
left: 50%;
transform: translateX(-50%);
gap: 3rem;
}

.nav-links a {
position: relative;
display: inline-block;
}
.nav-links a:hover {
transform: scale(1.05);
transition: transform 0.2s ease;
}
.hamburger:hover {
transform: scale(1.2);
transition: transform 0.2s ease;
}
.nav-links a::after {
content: "";
position: absolute;
left: 0;
bottom: -4px;
width: 0%;
height: 2px;
background-color: #111827;
transition: width 0.3s ease;
}

.nav-links a:hover::after {
width: 100%;
}
/* .nav-profile a:hover {
transform: scale(1.5);
transition: transform 0.2s ease;
} */
.hamburger {
display: none;
}

/* User Profile */
.active-user-btn {
margin-right: 2rem;
margin-left: auto;
background: none;
border: none;
cursor: pointer;
padding: 0;
}

.active-user-btn:hover {
transform: scale(1.1);
transition: transform 0.2s ease;
}


.active-user-avatar {
width: 48px;
height: 48px;
border-radius: 50%;
object-fit: cover;
}

.active-user-menu {
position: relative;
}

.profile-menu {
position: absolute;
top: 110%;
right: 0;
z-index: 100;
display: flex;
flex-direction: column;
background: white;
min-width: 200px;
}

.profile-menu h2, .profile-menu h4 {
padding: 1rem;
text-align: left;
}

.profile-menu h2 {
font-size: 1.2rem;
font-family: var(--font-display);
}
.profile-menu button {
background: none;
border: none;
font-size: 1rem;
padding: 1rem;
cursor: pointer;
position: relative;
display: inline-block;
}

.profile-menu button::after {
content: "";
position: absolute;
left: 1rem;
bottom: 10px;
width: 0%;
height: 2px;
background-color: #111827;
transition: width 0.3s ease;
}

.profile-menu button:hover::after {
width: calc(100% - 2rem);
}



/* MOBILE LAYOUT */
@media (max-width: 768px) {

.profile-menu {
position: fixed;
top: 80px;
z-index: 100;
display: flex;
  width: 100%;
}

.profile-menu h2, .profile-menu h4 {
  text-align: center;
}

.nav-links  {
  position: absolute;
  top: 80px;
  left: 0;
  transform: none; 
  width: 100%;
  display: none;
  flex-direction: column;
  align-items: center;
  background: white;
  padding: 2rem 0;
  gap: 2rem;
  box-shadow: 0 8px 20px rgba(0,0,0,0.08);
}

.nav-links.active {
  display: flex;
}

.hamburger {
display: block;

font-size: 2rem;
cursor: pointer;
margin-left: 2rem;
/*    color: var(--action-secondary-color);
*/
}
}
.nav-links .active-link::after {
width: 100%;
}

/*  */