h1 {
    font-size: 40px;
    color: var(--text-color-dark);
}
a {
  text-decoration: none;
  color: inherit;
  font-weight: 600;
  font-size: 22px;
      color: var(--text-color-dark);
}

.nav-container {
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: var(--primary-color);
    min-height: 80px;
    
}
.nav-content {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
     width: 100%;
}
.nav-logo {
    cursor: default;
    margin-left: 2rem;
}
.nav-links {
    display: flex;
    position: absolute;
left: 50%;
transform: translateX(-50%);
   gap: 3rem;
}
.nav-profile {
    display:flex;
    margin-right: 2rem;
    gap: 1rem;
    
}
.nav-links a {
    position: relative;
  display: inline-block;
}
.nav-links a:hover {
   transform: scale(1.05);
   transition: transform 0.2s ease;
}
.nav-links a::after {
  content: "";
  position: absolute;
  left: 0;
  bottom: -4px;
  width: 0%;
  height: 2px;
  background-color: #111827;
  transition: width 0.3s ease;
}

.nav-links a:hover::after {
  width: 100%;
}
.nav-profile a:hover {
   transform: scale(1.5);
   transition: transform 0.2s ease;
}