.round-image {
    max-width: 60vw;
    width: 10rem;
    height: auto;
    border-radius: var(--radius-round);
    box-shadow: var(--box-shadow-glow), var(--shadow-soft);
    margin: 1rem auto;
}
.round-image:hover {
    box-shadow:
    var(--shadow-soft),
    var(--btn-focus-ring);
    transform: scale(1.01);
}

.login-user-card {
    display: flex;
    width: clamp(100px, 28vw, 160px);
    flex-direction: column;
    align-items: center;
    position: relative;
}

.round-image,
.add-btn {
  width: clamp(90px, 24vw, 140px);
  height: clamp(90px, 24vw, 140px);
}

 .profile-actions {
    display: flex;
    justify-content: flex-end;
    gap: 1rem;
    margin-top: 1rem;
}

.profile-actions-start {
    position: absolute;
    top: 0.5rem;
    right: 0rem;
    z-index: 10;
    
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    gap: 1rem;
}

.profile-actions-start .flat-btn {
box-shadow: var(--box-shadow-glow);
}

/*  */